.headerContainer{
    background-color: blanchedalmond;
    text-align: center;
    margin: 0;
  }

.headerImage{
    background-image: url('../Images/US-CC-header.png'); /* Sets the background image */
    background-size: cover; /* Cover the entire area of the container */
    background-position: center; /* Center the background image */
    text-align: center; /* Center the text horizontally */
    color: rgb(94, 108, 237); /* Set text color */
    font-size: 60px;
    height: 300px; /* Set a height for the container */
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center content horizontally */
}
  
  .bodyContainer{
    background-color: blanchedalmond;
    padding: 200px;
    text-align: left;
  }
  
  .footerContainer{
    background-color: blanchedalmond;
    padding: 100px;
    text-align: center;
  }


  .newPostButton {
    color: blue;
    border-radius: 9999px; /* Rounded to make it circular */
    font-size: small; /* Smaller font size */
    width: 100px;
    position: sticky;
    top: 20px;
    align-items: center;
    align-content: center;
    margin-left: 50%;
}

.postcard{
  max-width: 50%;
  margin: auto;
}